
#NEXT_PUBLIC_INFURA_PROJECT_ID="xxx"
#NEXT_PUBLIC_MARKET_FEE_ADDRESS="0xxx"
#NEXT_PUBLIC_PUBLISHER_MARKET_ORDER_FEE="1"
#NEXT_PUBLIC_PUBLISHER_MARKET_FIXED_SWAP_FEE="1"
#NEXT_PUBLIC_CONSUME_MARKET_ORDER_FEE="1"
#NEXT_PUBLIC_CONSUME_MARKET_FIXED_SWAP_FEE="1"

#
### ADVANCED SETTINGS
#

# Toggle pricing options presented during price creation
#NEXT_PUBLIC_ALLOW_FIXED_PRICING="true"
#NEXT_PUBLIC_ALLOW_FREE_PRICING="true"

# Privacy Preference Center
#NEXT_PUBLIC_PRIVACY_PREFERENCE_CENTER="true"

# OIDC
# if set to true, option to login with OIDC is activated
NEXT_PUBLIC_AUTH_OIDC_ACTIVATED="true"

# If OIDC is activated, in the login modal, you'll see OIDC login with tab name that you set here
NEXT_PUBLIC_OIDC_MODAL_TAB_NAME="SURF"

# Client Identifier valid at the Authorization Server
NEXT_PUBLIC_OIDC_CLIENT_ID="EnergySHRPortal"

# Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider
NEXT_PUBLIC_OIDC_REDIRECT_URI="http://localhost:3000/authentication/callback"

# OpenID Connect requests MUST contain the openid scope value. If the openid scope value is not present, the behavior is entirely unspecified.
NEXT_PUBLIC_OIDC_SCOPE="openid"

# The provider’s endpoint that will perform authentication and authorization.
NEXT_PUBLIC_OIDC_AUTHORITY="http://localhost:8888/auth/realms/conext"

# SIOP
NEXT_PUBLIC_AUTH_SIOP_ACTIVATED="true"
# Base URL of the SSI agent capable of OpenID for Verifiable Presentations
NEXT_PUBLIC_OID4VP_AGENT_BASE_URL="https://ssi.future-mobility-alliance.org/agent"

# Presentation Definition hosted by the SSI agent
NEXT_PUBLIC_OID4VP_PRESENTATION_DEF_ID="fma2023"

# Interval in seconds to refresh the QR code
NEXT_PUBLIC_SSI_QR_CODE_EXPIRES_AFTER_SEC="180"

# Form where you can request/get a Credential using OpenID for Verifiable Credential issuance
NEXT_PUBLIC_OID4VCI_ISSUE_FORM_LINK="https://ssi.future-mobility-alliance.org/demo/issuer"

# Page where compliant wallets are listed and can be downloaded
NEXT_PUBLIC_DOWNLOAD_SSI_WALLET_LINK="https://ssi.future-mobility-alliance.org/demo/issuer/download"
