.container {
  width: 6.938rem;
  display: inline;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  font-family: 'Inter', serif;
  font-size: 0.813rem;
  line-height: 1.25rem;
  border: 0.063rem solid #d9d9d9;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  justify-content: center;
}
