.container {
  min-width: 16.125rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 0.375rem;
  border: 0.125rem solid #f5f5f5;
  padding: 1.938rem 1.563rem 1.25rem 1.563rem;
  user-select: none;
}

.header {
  flex-shrink: 0;
  color: #062058;
  font-family: 'Inter', serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
  margin-bottom: 1.375rem;
  border-bottom: 0.063rem solid #d9d9d9;
  gap: 1.25rem;
  padding-bottom: 1.375rem;
}

.searchCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 2.313rem;
}
