.wrapper {
  margin-top: calc(var(--spacer) * 2);
}

.wrapper > h2 {
  color: var(--font-color-text-inverted);
}

.container {
  display: flex;
  flex-direction: column;
}

.teaser p {
  margin-bottom: calc(var(--spacer) * 1.5);
  color: var(--font-color-text-inverted);
}

.teaser ul {
  color: var(--font-color-text-inverted);
}

.subtitleGrey {
  color: var(--sphereon-light-gray);
  font-size: 15px;
  font-family: TT Commons, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.secondarySection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 2);
}

.learnMore {
  color: var(--ocean-grey-dark);
}

.learnMore:hover,
.learnMore:active {
  color: var(--sphereon-light-blue);
}

.highlightBox > div {
  border-radius: 12px;
}

.highlightBox > div:first-child {
  width: 340px;
  height: 240px;
  background: var(--sphereon-light-blue);
}

.highlightBox > div:nth-child(2) {
  width: 340px;
  height: 240px;
  background: var(--sphereon-light-green);
}

.highlightBox > div h3,
.highlightBox > div p,
.highlightBox > div button {
  color: var(--sphereon-white-gray);
}

.highlightBox > div:first-child button:hover,
.highlightBox > div:first-child button:focus,
.highlightBox > div:first-child button:active {
  color: var(--ocean-grey-dark);
}

.highlightBox > div:nth-child(2) button:hover,
.highlightBox > div:nth-child(2) button:focus,
.highlightBox > div:nth-child(2) button:active {
  color: var(--ocean-grey-dark);
}

.points {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.points span {
  display: flex;
  gap: calc(var(--spacer) / 2);
  justify-content: flex-start;
  align-items: flex-start;
}

.checkmark {
  margin: 0;
  height: var(--spacer);
  width: var(--spacer);
}

.checkmark path {
  stroke: var(--brand-green) !important;
}

.pointText {
  font-weight: var(--font-weight-bold);
}

.pointText p {
  margin-bottom: 0;
  color: var(--font-color-text-inverted);
}

@media screen and (min-width: 55rem) {
  .wrapper {
    margin-top: calc(var(--spacer) * 3);
  }
  .container {
    flex-direction: row;
    gap: calc(var(--spacer) * 3);
  }
  .teaser {
    width: 60%;
  }
  .secondarySection {
    width: 40%;
  }
}
