.select [class$='control'] {
  /*border: 0.063rem solid; !*var(--input-border-size) *!*/
  /*border-color: rgba(17, 17, 19, 0.20);!*var(--input-border-color);*!*/
  border: 0.063rem solid rgba(17, 17, 19, 0.2);
  border-radius: var(--input-border-radius);
  box-shadow: none;
  background-color: var(--input-background);
  font-size: 0.875rem; /*var(--font-size-base);*/
  font-family: 'Inter', var(--font-family-base);
  font-weight: 400; /*var(--font-weight-bold);*/
  font-style: normal;
  line-height: 1.125rem;
  cursor: text;
  min-height: 2.734rem;
}

.select [class$='control']:hover {
  border-color: rgba(17, 17, 19, 0.2); /*var(--input-border-color);*/
}

.select [class$='control']:focus-within {
  border-color: rgba(17, 17, 19, 0.2); /*var(--input-border-color);*/
}

.select [class$='ValueContainer'] {
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 3);
}

.select [class$='Input'] {
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 0.875rem; /*var(--font-size-base);*/
  font-family: 'Inter', var(--font-family-base);
  font-weight: 400; /*var(--font-weight-bold);*/
  font-style: normal;
  line-height: 1.125rem;
}

.select input {
  color: #939393 !important; /*var(--font-color-heading) !important;*/
}

.select [class$='menu'] {
  background-color: var(--background-highlight);
  border-radius: var(--input-border-radius);
}

.select [class$='option'] {
  color: #939393; /*var(--input-font-color);*/
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
}

.select [class$='option']:active {
  background-color: var(--background-highlight);
}

.select [class$='multiValue'],
.select [class$='multiValue'] > *,
.select [class$='multiValue']:hover > * {
  border-radius: 0.25rem; /*//--input-border-radius*/
  background-color: #3E6CE2; /*var(--input-background);*/
  color: #fff; /*var(--input-font-color);*/
  /*font-size: var(--font-size-base);*/
  /*font-family: var(--font-family-base);*/
  /*font-weight: var(--font-weight-bold);*/
  font-size: 0.688rem; /*var(--font-size-base);*/
  font-family: 'Inter', var(--font-family-base);
  font-weight: 700; /*var(--font-weight-bold);*/
  font-style: normal;
  line-height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
}

.select [class$='multiValue'] > div[role$='button'],
.select [class$='indicatorContainer'] svg {
  cursor: pointer;
}

.select [class$='placeholder'] {
  margin-left: 0;
  margin-right: 0;
  color: var(--input-placeholder-font-color);
  font-weight: var(--font-weight-base);
  transition: 0.2s ease-out;
  opacity: 0.7;
}

.select [class$='menu'] {
  background-color: var(--input-background);
  margin-top: -0.125rem;
  border: 0.063rem solid rgba(17, 17, 19, 0.2);
  box-shadow: none;
}

.select [class$='menu'] [class$='option']:hover,
.select [class$='menu'] [class$='option']:focus-within {
  background-color: #3e6ce2 /*var(--font-color-heading)*/;
  color: var(--input-background);
}
