.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.main {
  --image-height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: var(--image-height);
}

.objectives {
  background-color: var(--sphereon-light-blue);
  padding: 2rem 3rem;
}

.objectives h2 {
  color: var(--sphereon-white);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-size-large);
  margin-bottom: calc(var(--spacer) * 0.5);
}

.objectives p {
  color: var(--sphereon-white);
  font-family: var(--font-family-heading);
}

.partnersWrapper {
  background-color: var(--background-fill-light);
  width: 100%;
}

.partnersContainer {
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--spacer) / 1.5);
  padding-top: var(--spacer);
}

.partners {
  justify-content: space-between;
}

.partnersTitle {
  font-weight: var(--font-weight-base);
}

.content {
  order: 2;
  padding: 0;
  padding-top: var(--spacer);
}

.partnersWrapper {
  margin: var(--spacer) 0;
}

.contactsContainer .body {
  margin-bottom: var(--spacer);
}

.body > div > p > a {
  color: var(--sphereon-light-blue);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer);
  padding: var(--spacer);
  border-radius: var(--border-radius-menu);
  width: 100%;
  background-color: var(--background-fill-light);
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.contactDetails * {
  margin: 0;
}

.contactDetails a {
  font-weight: var(--font-weight-bold);
}

.contactText {
  display: inline;
}

.contacts img {
  margin: 0;
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.media {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100vw;
  height: var(--image-height);
  order: 1;
}

.media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageContainer {
  margin-top: 2rem;
}

.imageContainer > img {
  max-width: 107%;
}

@media screen and (min-width: 55rem) {
  .wrapper {
    width: 80%;
    gap: 3.5rem;
  }
  .main {
    flex-direction: row;
    gap: var(--spacer);
    padding-top: 0;
  }
  .content {
    width: 95%;
  }
  .content h2 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bolder);
    color: var(--ocean-grey-dark);
  }
  .content p {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-base);
    color: var(--sphereon-black);
  }
  .media {
    position: unset;
    transform: none;
    order: 2;
    width: 40%;
  }
  .media img {
    margin: 0;
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
  .partnersWrapper {
    margin: calc(var(--spacer) * 2) 0;
  }
  .contacts {
    flex-direction: row;
    justify-content: space-between;
  }
  .contactsContainer h2 {
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bolder);
    color: var(--ocean-grey-dark);
  }
  .contactsContainer p {
    color: var(--ocean-grey-dark);
    font-size: var(--font-size-base);
  }
  .contact {
    width: 50%;
  }
}
