.container {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: row;
}

.headerLabel {
  color: #062058;
  font-family: 'Inter', serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.headerCollapseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
